.box{
width: 250px;
height: 100px;
background-color: aqua;
margin: 10px 10px 20px 20px ;
border: 10px solid;
padding: 50px 50px;
}
body{
    margin: 0px;
}
.box1{
width: 100px;
height: 100px;
background-color:rgb(247, 85, 10);
margin: 10px 10px 20px 20px ;
margin-top: -10px;
margin-left: 10px;
margin-right: 10px;
border: 5px solid;

}
.box2{
    width: 100px;
height: 100px;
background-color: rgb(255, 0, 43);
margin-left: 150px;
margin-top: -130px;
border: 5px solid;



}
.box12{
    width: 50px;
    height: 50px;
    background-color:rgb(38, 240, 11);
    margin: 10px 10px 20px 20px ;
    margin-top: 20px;
    margin-right: 35px;
    border: 5px solid ;
    border-color: blue;
    
    }
    .box21{
        width: 50px;
    height: 50px;
    background-color: rgb(9, 241, 64);
    border: 5px solid;
    border-color: blue;
    margin: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-left: 20px;
    
    
    }